@import "shared/variables.scss";
body {
    margin: 0;
}
.page-content {
    height: calc(100vh - #{$bottombar-height} - #{$topbar-height} -  env(safe-area-inset-bottom));    
    overflow: scroll;
    max-width: $page-max-width;
    margin: auto;
}
.bottom-nav-container {
    bottom: 0;
    width: 100vw;
    height: $bottombar-height;
}
.bottom-nav {
    margin: auto;
    width: 100%;
    max-width: $page-max-width;
}
.page-header-container {
    top: 0;
    background-color: white;
}
.page-header {
    max-width: $page-max-width;
    margin: auto;
    height: $topbar-height;
}
.page-title-container {
    width: 100%;
    margin-right: -80px !important;
    text-align: center;
}
.tokencount-container {
    height: $topbar-height;
    width: 80px;
    padding: 0;
    text-align: right;
    p {
        line-height: 1.2;
    }
}