@import "shared/variables.scss";
.noti-text {
    text-transform: none;
}
.noti-card {
    border-bottom: solid 1px grey;
    width: 100%;
    button {
        width: 100%;
        padding: $card-padding-tb $card-padding-lr;
        span {
            justify-content: flex-start;
            p {
                text-align: left;
            }
        }
    }
}