# .DS_Store
# .merlin
# .bsb.lock
# npm-debug.log
# /lib/bs/
# /node_modules/
# /bundleOutput/

.DS_Store
/node_modules*
finalOutput/*.js
.merlin
.install
/lib/bs/
/lib/js/
/lib/ocaml/
*.log
.bsb.lock
/src/*.js
_esy
_build
*.install
*.bs.js
build/

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc

### Firebase Patch ###
.runtimeconfig.json
.firebase/
